---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
  <section class="home-section">
    <div class="overlay">
      <div class="welcome-content">
        <h1>¡Bienvenido a mi Portafolio!</h1>
        <p>Hola, soy Renzo, un desarrollador apasionado por crear experiencias web únicas.</p>
      </div>
    </div>
  </section>
</BaseLayout>
